:root {
    --accent-bg: #f0f0f0;
    --border: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Avenir', sans-serif;
    --primary-color: #333;
    --secondary-color: #666;
    --tertiary-color: #999;
    --quaternary-color: #ccc;
    --primary-bg-color: #f0f0f0;
    --secondary-bg-color: #e0e0e0;
}

body {
    padding-top: 6em;

    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

.flashcard {
    border: 1px solid var(--border);
    margin: 10px;
    border-radius: 5px;
    width: 200px; /* Larger width for desktop */
    height: 100px; /* Larger height for desktop */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.flashcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2.question {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--primary-bg-color);
}

.answer {
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    background-color: var(--secondary-bg-color);
    margin-left: 50px;
}

.question-container {
    height: 100vh;
}

.correct-answer {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: 2px solid #4CAF50; /* Green border */
    font-weight: bold; /* Bold text */
    box-shadow: 0 0 20px #4CAF50; /* Green box shadow */
}

.incorrect-answer {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    border: 2px solid #f44336; /* Red border */
    font-weight: bold; /* Bold text */
    border-bottom: 2px solid black; /* Black line at the bottom */
}

header {
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays on top of other elements */
    background-color: var(--secondary-bg-color);
    padding-left: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

/*  */

/* #score-header {
    margin-right: 20px;
    font-size: larger;
    font-weight: bolder;
} */

#score-header {
    position: fixed; /* Fix position relative to the viewport */
    bottom: 0; /* Position at the bottom */
    right: 0; /* Position on the right */
    margin-right: 10px; /* Add some margin to not stick to the edge */
    font-size: larger;
    font-weight: bolder;
}

#topic {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

#score-header {
    margin-right: 50px; /* Reduced margin for mobile */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    body {
        padding-top: inherit;
    }

    header {
        padding: 10px; /* Reduced padding for mobile */
        position: relative; /* make header not fixed */
        display: block;
    }

    header h2 {
        margin-left: 10px; /* Reduced margin for mobile */
    }

    .flashcard {
        width: 150px; /* Smaller width for mobile */
        height: 75px; /* Smaller height for mobile */
    }


    #topic {
        font-size: 1.2em; /* Reduced font size for mobile */
    }
}